.App {
  text-align: center;
  font-family: sans-serif;
}

header {
  background-color: rgba(151, 192, 255, 0.8);
  height: 30px;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition-duration: 0.4s;
  padding: 10px;
  font-family: sans-serif;
}

.nav-link:hover {
  color: #9661ff;
}

.background {
  background-image: url("./img/cliffs.jpg");
  background-size: cover;
  box-shadow: inset 100em 100em rgba(255, 255, 255, 0.4);
  height: 100vh;
}

.learn-link {
  margin: 20px;
}

.learn-link a {
  text-decoration: none;
  color: white;
  transition-duration: 0.4s;
  font-family: sans-serif;
}

.learn-link a:hover {
  color: #cfb7ff;
}

.button {
  background-color: #0c92da;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #0c92da;
  width: 100px;
}

.button:hover {
  background-color: #00bfff; 
  color: rgb(255, 255, 255); 
  border: 2px solid #00bfff;
}

.homepage-logo {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-logo img {
  width: 50vw;
  max-width: 500px;
}

.background-trips {
  background-image: url("./img/pink-sky.jpeg");
  background-size: cover;
  box-shadow: inset 100em 100em rgba(255, 255, 255, 0.4);
  height: 100vh;
}

.upcoming-links a {
  transition-duration: .4s;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.upcoming-links a:hover {
  color: #9661ff;
}

.trip-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.account-img {
  width: 200px;
  border: 4px solid rgb(70, 70, 70);
  border-radius: 35%;
}

.small-logo {
  height: 100px;
}

.account-card {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  text-align: center;
}

.account-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  max-width: 650px;
  height: 400px;
  border: 4px solid rgb(70, 70, 70);
  border-radius: 35px;
  margin: 0 auto;
  margin-top: -80px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.update-info {
  display: flex;
  flex-direction: column wrap;
  width: 70%;
  margin: 80px auto 40px auto;
  max-width: 400px;
}

.update-info input {
  margin: 0 20px 20px 20px;
}

.update-info label {
  margin-bottom: 5px;
}

.hidden-inputs{
  display: none;
}